.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  z-index: 350;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.bg-image {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  z-index: 300;
}
